name: Build and Deploy Sho Reader

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Restart Docker
        run: |
          # Dùng -v (remove anonymous volumes) và dọn dẹp các container cũ bị kẹt
          docker compose down -v || true
          docker compose up -d --build
