name: Build and Deploy Sho Reader

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Restart Docker
        run: |
          # Checkout code sẽ lấy nội dung của REPO vào root của workspace runner.
          # Vì repo này là chính là project NovelReader, nên không cần cd vào projects/shonovel-reader nữa.
          docker compose up -d --build
